.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 1.5rem;
}
